.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .popup-content h3 {
    margin-bottom: 15px;
  }
  
  .popup-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .send-btn, .close-btn {
    padding: 10px 15px;
    margin: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .send-btn {
    background-color: #455817;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    font-weight: bold;
    font-size:15px
  }
  
  .close-btn {
    color: #455817;
    padding: 9px 15px;
    border: 1px solid #455817;
    border-radius: 17px;
    cursor: pointer;
    font-size:14px
  }
  
  .calendar-red {
  background: #ffcccc !important;
}
.calendar-orange {
  background: #ffe5b4 !important;
}
.calendar-green {
  background: #d4edda !important;
}