.to-do {
  background-color: #f4f5f7;
  border-radius: 6px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 15px;
  height: 50%;
}

.to-do .header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0px;
  writing-mode: tb-rl;
  text-align: center;
  background-color: #0D6A66;
  border-radius: 6px 0px 0px 6px
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: -webkit-fill-available;
  overflow-y: scroll;
  scrollbar-width: none;

}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.task-icon {
  font-size: 1.2rem;
  color: #047857;
  margin-right: 10px;
}

.task-text {
  flex: 1;
  font-weight: normal;
  color: #333;
}

.task-delete {
  font-size: 1.2rem;
  color: #e11d48;
  cursor: pointer;
  transition: color 0.2s;
}

.task-delete:hover {
  color: #be123c;
}

/* Styles for clickable link in task-item */
.task-item.clickable .task-text {
  color: #0d6efd; /* Bootstrap primary color */
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.task-item.clickable:hover .task-text {
  text-decoration: none;
  color: #0b5ed7; /* Darker shade for hover effect */
}

/* Modal container styling */
.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height:400px;
}

/* Modal header */
.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  height:45%;
  background-color:#1A274F;
  border-radius: 8px 8px 0px 0px;border-radius: 8px 8px 0px 0px;
  flex-direction: column;

}

.modal-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: #fff;
}

.btn-close{
  position: absolute;
  margin-left:93%;
}

.modal-close {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s ease;
}

.modal-close:hover {
  color: #fff;
}

/* Modal form */
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1px 15px 0 15px;
}

.modal-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.modal-input:focus {
  border-color: #0D6A66;
  box-shadow: 0 0 5px rgba(13, 106, 102, 0.5);
}

.model-btn
{
  text-align: center;
}

/* Submit button */
.modal-submit {
  background-color: #1a274f;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 40%;
}

.modal-submit:hover {
  background-color: #1a274f;
}

/* Backdrop */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.confirmation
{
  text-align: center;
}
