.your-huddle {
    background-color: #f4f5f7;
    border-radius: 6px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 50%;
  }
  
  .your-huddle .header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0px;
    writing-mode: tb-rl;
    text-align: center;
    background-color: #5C262A;
    border-radius: 6px 0px 0px 6px
  }
  
  .huddle-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: -webkit-fill-available;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
  .huddle-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #f5c2c2;
  }
  
  .huddle-icon {
    font-size: 1.2rem;
    color: #9b2226;
    margin-right: 10px;
  }
  
  .huddle-text {
    flex: 1;
    font-weight: normal;
    color: #333;
  }
  
  .huddle-delete {
    font-size: 1.2rem;
    color: #e63946;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .huddle-delete:hover {
    color: #b42e37;
  }