.calendar-layout {
  display: flex;
  gap: 15px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
  padding: 20px;
}
 
.calendar-header-left {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  writing-mode: sideways-lr;
  text-align: center;
  background-color: #473c5f;
  border-radius: 6px 0px 0px 6px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-header-left span{
    margin-bottom: auto;
    margin-top: 10px;
    text-transform: uppercase;
}
 
.calendar-main {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  overflow: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
}
 
.calendar-main-small {
  flex-grow: 0.7;
  transition: flex-grow 0.3s ease;
}
 
.chart-container {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align the items */
  gap: 20px; /* Add spacing between the chart and the summary */
  transition: all 0.3s ease;
}
 
.fc {
  width: 100%;
  height: 100%;
}
 
.fc-toolbar {
  font-size: 16px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
 
.fc-toolbar button {
  background-color: #473c5f;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
 
.fc-toolbar button:hover {
  background-color: #5a4a6d;
}
 

.fc-timegrid-slot {
  height: 50px !important; /* Or adjust to your desired height */
  font-size: 10px; /* Adjust font size for better readability */
}

.fc-timegrid-slot-label {
  line-height: 50px;       /* Align label vertically */
  font-size: 12px;
}

.fc-scrollgrid-sync-table {
  table-layout: fixed;     /* Prevents dynamic resizing */
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.insight-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}
 
.insight-button:hover {
  background-color: #45a049;
}
 
.fc-scroller {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
 
 
.calendar-insight-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
  padding-right: 20px;
}
 
 
.fc-day-header {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  background-color: #f1f1f1;
  padding: 5px;
}
 
 
.hours-summary {
  font-size: 16px;
  text-align: center;
  width: 100%;
}
 
.hours-summary ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Ensure proper spacing */
}
 
.hours-summary li {
  margin: 8px 0; /* Add vertical spacing */
}